:root {
  --color-dark-gray: #333;
  --color-white: #fff;

  overflow: hidden;
}

* {
  margin: 0;
}

p {
  font-size: 1vw;
  font-style: normal;
}

.sl-departure-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: var(--color-dark-gray);
  padding-left: 10px;
  padding-right: 10px;
}

.sl-departure-card-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.sl-departure-card-top .sl-line-icon {
  height: 3rem;
  margin-right: 10px;
}

.sl-departure-card-bottom {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.sl-next-departure {
  font-size: 2rem;
}

.sl-future-departures {
  font-size: 1.5rem;
}
